.barContainer {
    display: flex;
    justify-content: space-around;
    /* background-color: #505050; */
    flex: 0 1 auto;
    background-color: #2d2d2d;
    /* height: 100px; */
}

.randomize {
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    background: none;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    transition: all .2s;
}
.randomize:hover {
    scale: 1.1;
}
.randomize:active {
    /* transform: translateY(2px); */
    scale: 1;
    /* animation: pulse .4s; */
}

.buttonIcon {
    height: 100%;
    width: 80%;
    color: white;

}

@keyframes pulse {
    50% {scale:1.2;}
}